In [1]:
import os
import tqdm
import glob
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
path = '../data/genes/'
os.chdir(path)
files = glob.glob('*.csv')
print(files)

['EX5261.csv', 'EX5342.csv', 'EX5347.csv', 'EX5348.csv', 'EX5349.csv', 'EX5364.csv', 'EX5365.csv', 'EX5428.csv', 'EX5429.csv', 'EX5431.csv', 'EX5432.csv', 'EX5433.csv', 'EX5434.csv', 'EX5435.csv', 'EX5436.csv', 'EX5437.csv', 'EX5438.csv', 'EX5441.csv', 'EX5443.csv', 'EX5445.csv', 'EX5526.csv', 'EX5527.csv', 'EX5528.csv', 'EX5529.csv', 'EX5530.csv', 'EX5531.csv', 'EX5533.csv', 'EX5539.csv', 'EX5540.csv', 'EX5541.csv', 'EX5542.csv', 'EX5544.csv', 'EX5545.csv', 'EX5555.csv']

In [51]:
# function to isolate no. of mutations
def mut_count(file, chr_list):

    # created the dataframe
    df = pd.read_csv(file, low_memory=False)
    df = df.iloc[:, 77]  # only the chr column
    name = file[:-4]     # name of the input file

     
    chr_count = []
    chr_values = df.value_counts()
    chr_names = df.unique().tolist()

    # counts no. of mutation in each chr
    for gene in chr_list:
        if gene in chr_names:
            chr_count.append(chr_values[gene])
        else:
            chr_count.append(0)

    # creates the mutation count dataframe
    dic = {'Chromosome': chr_list, name: chr_count}
    df_chr = pd.DataFrame.from_dict(dic)

    return(df_chr)

In [52]:
df = pd.read_csv(files[0])
chr_names_list = df.iloc[:, 77].unique().tolist()

# start col
result = mut_count(file[0], chr_names_list)

#merging results
for file in files[1:]:
    tmp = mut_count(file, chr_names_list)
    results = pd.concat([x, y.iloc[:,1]], axis=1)

result

   Chromosome  EX5434  EX5540
0        chr1   15406    3569
1        chr2   11464    2508
2        chr3    8701    2184
3        chr4    7173    1465
4        chr5    7307    1583
5        chr6    6691    2502
6        chr7    8632    1835
7        chr8    6018    1235
8        chr9    6546    1310
9       chr10    7394    1607
10      chr11    8922    2431
11      chr12    9148    1895
12      chr13    3208     678
13      chr14    5698    1053
14      chr15    5310    1224
15      chr16    6461    1499
16      chr17    8592    2292
17      chr18    2822     567
18      chr19    9693    2863
19      chr20    3848     848
20      chr21    2496     532
21      chr22    4068     853
22       chrM      48       0
23       chrX    3004     775
24       chrY      95       5

In [ ]:
for file in files:
    new_file = file.replace('.merged', '')
    os.rename(file, new_file)